@charset "UTF-8";
body {
  display: flex;
  height: 100vh;
}

/*左边菜单*/
.left-menu {
  width: 240px;
  background-color: #313a46;
  /* 图片logo */
  /* 菜单内容 */
}
.left-menu > .logo {
  display: block;
  margin: 20px auto;
  width: 148px;
  height: 40px;
}
.left-menu .menu-container {
  color: #8391a2;
  list-style: none;
  cursor: pointer;
  padding-right: 30px;
  /* 下拉动画 */
  /* 下拉菜单动画效果 */
}
.left-menu .menu-container > li + li {
  margin-top: 8px;
}
.left-menu .menu-container .child-menu {
  height: 0;
  overflow: hidden;
  transform-origin: top left;
  transform: scaleY(0);
  transition: all 0.3s;
  background-color: red;
}
.left-menu .menu-container .open {
  transform-origin: top left;
  height: 100%;
  transform: scaleY(100%);
}

/*右边内容 */
.main-content {
  flex-grow: 1;
}