@charset "UTF-8";
body {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

/*左边菜单*/
.left-menu {
  width: 240px;
  background-color: #313a46;
  /* 图片logo */
  /* 菜单内容 */
}
.left-menu > .logo {
  display: block;
  margin: 20px auto;
  width: 148px;
  height: 40px;
}
.left-menu .menu-container {
  color: #8391a2;
  list-style: none;
  cursor: pointer;
  padding-right: 30px;
  /* 下拉菜单动画 */
}
.left-menu .menu-container > li + li {
  margin-top: 8px;
}
.left-menu .menu-container .level-1-menu {
  line-height: 1.5;
  /* 图标旋转动画 */
  /* 动画效果 */
}
.left-menu .menu-container .level-1-menu .bi-chevron-right {
  transform: none;
  transition: transform 0.15s;
}
.left-menu .menu-container .level-1-menu.active .bi-chevron-right {
  transform: rotate(90deg);
}
.left-menu .menu-container .sub-menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  text-align: center;
  line-height: 30px;
}
.left-menu .menu-container .sub-menu a {
  padding: 8px 30px 8px 0;
  color: #8391a2;
  font-size: 13px;
  text-decoration: none;
  /* 高亮 */
}
.left-menu .menu-container .sub-menu a.active {
  color: #fff;
  background-color: #313d4d;
}

/*右边内容 */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* 顶栏 */
  /* 页面内容 */
}
.main-content .globalnav {
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  /* 左边拖动按钮 */
  /* 右边工具栏 */
}
.main-content .globalnav .nav-left > i {
  font-size: 30px;
}
.main-content .globalnav .nav-tool {
  display: flex;
  align-items: center;
}
.main-content .globalnav .nav-tool .logout {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.main-content .globalnav .nav-tool .logout .user {
  display: flex;
  align-items: center;
}
.main-content .globalnav .nav-tool .logout .user .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.main-content .globalnav .nav-tool .logout .out {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.main-content .globalnav .nav-tool .logout .out i {
  font-size: 22px;
}
.main-content .globalnav .nav-tool .logout .text {
  margin-left: 10px;
}
.main-content .page-content {
  flex-grow: 1;
}