body {
    display: flex;
    height: 100vh;
}

/*左边菜单*/
.left-menu {
    width: 240px;
    background-color: #313a46;

    /* 图片logo */
    >.logo {
        display: block;
        margin: 20px auto;
        width: 148px;
        height: 40px;
    }

    /* 菜单内容 */
    .menu-container {
        color: #8391a2;
        list-style: none;
        cursor: pointer;
        padding-right: 30px;

        >li+li {
            margin-top: 8px;
        }

        /* 下拉菜单动画 */
        .sub-menu {
            height: 0;
            overflow: hidden;
            transition: all 0.3s;
            text-align: center;
            line-height: 35px;
            font-size: 13px;
            color: #fff;
            a {
                padding:8px 30px 8px 0 ;
                color: #8391a2;
                font-size: 13px;
                text-decoration: none;
                height: 35px;
            }
        }


    }
}


/*右边内容 */
.main-content {
    flex-grow: 1;
}