body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2e3e;
}

//登录注册卡片
.login-card {
    width: 800px;
    border: 0;

    //卡片头部
    .card-header {
        display: flex;
        align-items: center;
        background-color: #2746b1;
        font-size: 24px;
        line-height: 60px;
        color: #d2e2e0;

        //头部左边的logo
        .logo {
            width: 130px;
            height: 38px;
            margin-right: 20px;
        }
    }

    //卡片内容
    .card-body {
        display: flex;

        //左边图片
        .login-cover {
            width: 339px;
            height: 358px;
        }

        //右边用户输入表单
        .user-form {
            flex-grow: 1;
            margin-left: 52px;
        }
    }
}